################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Lanchonete40App/.vs/Lanchonete40App
/Lanchonete40App/Lanchonete40App/obj
/Lanchonete40App/Lanchonete40App/bin/Debug/net8.0
/Lanchonete40App/.vs/ProjectEvaluation
/Lanchonete40App/Lanchonete40App.Negocio/obj
/Lanchonete40App/Lanchonente40App.xUnit/bin/Debug/net8.0
/Lanchonete40App/Lanchonente40App.xUnit/obj
/Lanchonete40App/Lanchonete40App.Negocio/bin/Debug/net8.0
